.vscode

.ipynb_checkpoints/
__pycache__/

dist/
build/
src/lingcomp.egg-info

models/
cached*
pytorch_model.bin

data/
!data/README.md
!data/eyetracking/sentence_ids.tsv
!data/complexity_features.tsv
!data/geco_features.tsv

notebooks/
mlruns/
logs/
env*/
out/

img/**