# To perform data analysis and plotting
numpy
pandas
scikit-learn
scipy

# Plotting
seaborn
matplotlib

# Transformer language models
torch == 1.6.0
farm == 0.5.0
transformers == 3.3.1

# Garden path evaluation
syntaxgym;python_version>'3.6'

# Opening eyetracking data Excel file
xlrd

# Utils
prettytable
dataclasses;python_version<'3.7'
tqdm
h5py

# Testing
pytest

# Formatting and quality
black
git+git://github.com/timothycrosley/isort.git@e63ae06ec7d70b06df9e528357650281a3d3ec22#egg=isort
flake8